body {
 background-color: grey;
}

h1 {
	color: 	darkgoldenrod;
  background-color: lightblue;
  border: 4px dotted red;
}

h1:hover {
	background-color: brown;
  color: white;
}

img {
  border-radius: 25px;
  transition-duration: 1s;
}

img:hover {
	transform: rotate(360deg);
}
h3 { 
	color:  red;
}
h3:hover {
  background-color: brown;
}

  h2 {
  background-color: skyblue;
  color: blue;
}



div a {
 background: yellow;
 color: blue;
}

div p a {
  background: black;
  color: lightblue;
}

.hamster {
 max-width: fit-content;
 border-top: 5px dashed orange;
 border-left: 5px dashed red;
 border-right: 5px dashed yellow;
padding: 25px;

}

.header a { 
	color: red;
  background-color: darkcyan;
}

.quiz a {
  display: block;
  background-color: black;
  color: white;
  padding: 10px;
  margin: 50px;
  text-align: center;
}

.quiz h4 {
  text-align: center;
  font-size: 24px;
}

.hamster li {
  color: black;
}






