body {
 background-color: grey;
}

h1 {
	color: 	darkgoldenrod;
  background-color: lightblue;
  border: 4px dotted red;
}

h1:hover {
	background-color: brown;
  color: white;
}

img {
  border-radius: 50%;
  transition-duration: 1s;
}

img:hover {
	transform: rotate(360deg);
}
h3 { 
	color:  red;
}
h3:hover {
  background-color: brown;
}

  h2 {background-color: skyblue;
  color: blue;
}

a {
	color: red;
  background-color: darkcyan;
  
}

div a {
 background: yellow;
 color: blue;
}

div p a {
  background: pink;
  color: lightblue;
}

.hamster {
 max-width: fit-content;
 border-top: 5px dashed orange;
 border-left: 5px dashed red;
 border-right: 5px dashed yellow;
 
}
